    @import "tpl/login";
    
    @import "tpl/class_table";
    @import "tpl/checkout";
    @import "tpl/myaccount";
    
    @import "tpl/single_shop_pos";

    @import "tpl/archive_product";
    @import "tpl/archive_table_product";

    @import "tpl/single_product";

    @import "tpl/cart";

    @import "tpl/footer";


    @import "tpl/archive_shop";

    @import "tpl/btn";

    @import "tpl/rwd";

    @import "tpl/thankyou";

    @import "tpl/modal";

    @import "tpl/order";


    @media (min-width: 922px){
        .woocommerce-account header  .ast-container,
        .archive.tax-product_cat header  .ast-container{
            max-width: 1200px ! important;
            margin:auto;
            padding-left: 20px;
            padding-right: 20px;
        }
        header .ast-container {
            max-width: 1240px;
        }
    }

    select[name="company_address_select"]{
        width:100%;
    }
    