@charset "UTF-8";
body.woocommerce-account {
  background-color: #fff;
  color: #7A7A7A; }
  body.woocommerce-account h1.entry-title {
    display: none; }
  body.woocommerce-account .small_title {
    text-align: center;
    color: #7A7A7A; }
  body.woocommerce-account input.input-text {
    border-color: #DDD; }
  body.woocommerce-account h2 {
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    color: #3A3A3A;
    margin: auto;
    margin-bottom: 20px; }
  body.woocommerce-account .login_img {
    margin: auto auto 40px;
    width: 75px;
    height: 34px;
    background-image: url(./img/logo-leaf-new.svg);
    background-size: cover; }
  body.woocommerce-account .u-column-item {
    max-width: 340px;
    margin: auto; }
    body.woocommerce-account .u-column-item.hide {
      display: none; }
  body.woocommerce-account #remember_me {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
    padding: 30px 0 20px; }
    body.woocommerce-account #remember_me label {
      display: flex;
      align-items: center; }
      body.woocommerce-account #remember_me label input {
        margin-right: 5px; }
    body.woocommerce-account #remember_me a {
      color: #7A7A7A; }
      body.woocommerce-account #remember_me a:hover {
        text-decoration: underline; }
  body.woocommerce-account .privacy {
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
    color: #7A7A7A; }
    body.woocommerce-account .privacy a {
      color: #7A7A7A; }
      body.woocommerce-account .privacy a:hover {
        text-decoration: underline; }
  body.woocommerce-account .woocommerce-form-login {
    border: 0px !important; }
  body.woocommerce-account .woocommerce-form-login__submit,
  body.woocommerce-account .woocommerce-form-register__submit {
    width: 100%;
    height: 40px;
    background-color: #27AC39 !important; }
  body.woocommerce-account .woocommerce-LostPassword a {
    margin-right: 10px;
    color: #27AC39;
    text-align: center;
    display: block;
    font-size: 12px; }
    body.woocommerce-account .woocommerce-LostPassword a:hover {
      text-decoration: underline; }

.woocommerce form.register {
  border: 0px !important; }

#change_login {
  text-align: center;
  color: #27AC39;
  text-align: center;
  display: block;
  font-size: 12px; }
  #change_login:hover {
    text-decoration: underline; }

.reg_text,
.woocommerce-privacy-policy-text {
  font-size: 14px;
  color: #7A7A7A; }
  .reg_text a,
  .woocommerce-privacy-policy-text a {
    color: #7A7A7A; }
    .reg_text a:hover,
    .woocommerce-privacy-policy-text a:hover {
      text-decoration: underline; }

#aloha_woo_login {
  padding: 50px 15px; }

form.woocommerce-ResetPassword {
  max-width: 340px;
  margin: 100px auto; }
  form.woocommerce-ResetPassword p {
    color: #7A7A7A;
    width: 100% !important; }
  form.woocommerce-ResetPassword input.woocommerce-Input {
    width: 100%;
    margin-bottom: 30px !important; }
  form.woocommerce-ResetPassword .woocommerce-Button {
    width: 100%;
    background-color: #27AC39 !important; }

.rwd_table {
  overflow-y: scroll; }
  .rwd_table #table-no-resize {
    min-width: 980px; }

#table-no-resize {
  overflow: hidden;
  background: #d3dfee; }

#table-no-resize tr:nth-of-type(2n) {
  background: #a7bfde; }

#table-no-resize tr:nth-of-type(2n+1) {
  background: #d3dfee; }

#table-no-resize th,
#table-no-resize td {
  margin: 0.5em 1em;
  border-color: #fff; }

.other_helper {
  text-align: center; }

#table-no-resize {
  min-width: 100%; }

#table-no-resize th {
  text-align: center;
  background: #0b438c;
  color: #fff; }

#table-no-resize td {
  display: block; }
  #table-no-resize td.class_time, #table-no-resize td.action, #table-no-resize td.consult {
    text-align: center; }
    #table-no-resize td.class_time a, #table-no-resize td.action a, #table-no-resize td.consult a {
      background-color: #fff;
      color: #0b438c;
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-color: #0b438c;
      border-radius: 50px 50px 50px 50px;
      padding: 8px 15px 8px 15px;
      font-size: 15px; }
      #table-no-resize td.class_time a:hover, #table-no-resize td.action a:hover, #table-no-resize td.consult a:hover {
        color: #fff !important;
        background-color: #0b438c !important; }

#table-no-resize td:before {
  content: attr(data-th) " : ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block; }

#table-no-resize th.myclass_name {
  text-align: left; }
  #table-no-resize th.myclass_name a {
    color: #fff; }

#table-no-resize th,
#table-no-resize td {
  display: flex;
  margin: 0; }

#table-no-resize td {
  text-align: left; }
  #table-no-resize td a {
    color: #333; }

　
#table-no-resize th, #table-no-resize td:before {
  color: #333;
  font-weight: bold; }

#pager {
  display: flex;
  justify-content: center;
  margin-bottom: 30px; }
  #pager .current {
    background: #d3dfee; }
  #pager > span, #pager a {
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 5px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    color: #333; }

@media (min-width: 480px) {
  #table-no-resize td:before {
    display: none; }

  #table-no-resize th,
  #table-no-resize td {
    display: table-cell;
    padding: 0.25em 0.5em; }

  #table-no-resize th:first-child,
  #table-no-resize td:first-child {
    padding-left: 0; }

  #table-no-resize th:last-child,
  #table-no-resize td:last-child {
    padding-right: 0; }

  #table-no-resize th,
  #table-no-resize td {
    padding: 10px 20px !important;
    font-size: 16px;
    line-height: 1.6em;
    align-items: center;
    vertical-align: middle; } }
h3.table_center {
  text-align: center;
  font-size: 30px;
  margin: 10px 0; }

@media (max-width: 480px) {
  #table-no-resize tr:nth-of-type(2n) {
    background: #d3dfee; }

  .rwd_table #table-no-resize {
    min-width: auto;
    border: 0px; }

  #table-no-resize {
    background: none; }

  #table-no-resize tr.thead th {
    display: none; }

  #table-no-resize tr.class_item {
    margin-bottom: 30px;
    display: block;
    padding: 15px 10px;
    border-radius: 10px;
    border: 0px; }
    #table-no-resize tr.class_item th.myclass_name {
      text-align: left;
      padding: 6px 20px;
      border-radius: 8px;
      text-align: center;
      justify-content: center;
      border: 0px; }
      #table-no-resize tr.class_item th.myclass_name a {
        color: #fff;
        font-size: 18px;
        display: block;
        line-height: 1em;
        padding: 5px 15px;
        display: block;
        width: 100%; }
    #table-no-resize tr.class_item td {
      border: 0px; }
      #table-no-resize tr.class_item td.class_time {
        margin-top: 10px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
      #table-no-resize tr.class_item td.class_date {
        margin-bottom: 15px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.5); }
      #table-no-resize tr.class_item td.class_time {
        text-align: left; }
      #table-no-resize tr.class_item td.action:before {
        display: none; }
      #table-no-resize tr.class_item td.action a {
        width: 80%;
        text-align: center;
        padding: 5px 15px 6px 15px;
        margin: auto; }
      #table-no-resize tr.class_item td.consult:before {
        display: none; }
      #table-no-resize tr.class_item td.consult a {
        width: 80%;
        text-align: center;
        padding: 5px 15px 6px 15px;
        margin: auto; } }
/*   課程介紹 */
.rwd_table {
  overflow-y: scroll; }

table.class_intro {
  min-width: 980px;
  border-color: #fff; }
  table.class_intro td {
    padding: 10px 10px; }
  table.class_intro thead th {
    background: #f37106;
    border-color: #fff;
    text-align: center;
    color: #fff; }
  table.class_intro tbody tr:nth-child(even),
  table.class_intro tbody tr:nth-child(even) td {
    background: #fbd4b4;
    vertical-align: middle;
    border-color: #fff; }
  table.class_intro tbody tr:nth-child(odd),
  table.class_intro tbody tr:nth-child(odd) td {
    background: #fde9d9;
    border-color: #fff; }
  table.class_intro tbody tr td {
    vertical-align: middle; }
  table.class_intro tbody tr td:first-child {
    background: #f37106;
    color: #fff; }
  table.class_intro .column-2 {
    text-align: center; }
  table.class_intro .column-3 {
    width: 30%; }
  table.class_intro .column-4 {
    width: 20%; }
  table.class_intro .column-5 {
    display: flex;
    align-items: center; }
    table.class_intro .column-5 img {
      max-width: 50px;
      height: auto;
      display: block; }
    table.class_intro .column-5 img:first-child {
      margin-right: 10px; }
  table.class_intro .column-6 {
    text-align: center; }
    table.class_intro .column-6 a {
      background-color: #fff;
      color: #f37106;
      border-style: solid;
      border-width: 1px 1px 1px 1px;
      border-color: #f37106;
      border-radius: 50px 50px 50px 50px;
      padding: 8px 15px 8px 15px;
      font-size: 15px; }
      table.class_intro .column-6 a:hover {
        color: #fff !important;
        background-color: #f37106 !important; }

@media (max-width: 480px) {
  table.class_intro {
    min-width: auto;
    border: 0px; }
    table.class_intro thead {
      display: none; }
    table.class_intro tbody {
      padding: 0 10px;
      position: relative;
      display: block; }
      table.class_intro tbody tr {
        padding: 15px 10px;
        border-radius: 10px;
        background: #fde9d9 !important;
        display: block;
        margin-bottom: 30px; }
        table.class_intro tbody tr td {
          background: #fde9d9 !important;
          display: block;
          width: 100% !important; }
          table.class_intro tbody tr td.column-1 {
            background: #f37106 !important;
            text-align: left;
            padding: 6px 20px;
            border-radius: 8px;
            text-align: center;
            justify-content: center;
            border: 0px;
            font-size: 18px;
            font-weight: bold;
            border: 0px; }
          table.class_intro tbody tr td.column-2, table.class_intro tbody tr td.column-3, table.class_intro tbody tr td.column-4 {
            display: flex;
            align-items: baseline;
            flex-wrap: wrap;
            border: 0px; }
          table.class_intro tbody tr td.column-2 {
            padding: 15px 15px 5px; }
          table.class_intro tbody tr td.column-3 {
            padding: 0px 15px 5px; }
          table.class_intro tbody tr td.column-4 {
            padding: 0px 15px 5px; }
          table.class_intro tbody tr td.column-5, table.class_intro tbody tr td.column-6 {
            border: 0px !important; }
          table.class_intro tbody tr td.column-2:before {
            content: '程度:';
            position: relative;
            margin-right: 15px;
            display: flex;
            font-weight: bold; }
          table.class_intro tbody tr td.column-3:before {
            content: '課程內容:';
            position: relative;
            margin-right: 15px;
            width: 100%;
            display: flex;
            font-weight: bold; }
          table.class_intro tbody tr td.column-4:before {
            content: '使用教材:';
            width: 100%;
            position: relative;
            margin-right: 15px;
            display: flex;
            font-weight: bold; }
          table.class_intro tbody tr td.column-5 {
            display: flex;
            text-align: center;
            justify-content: center; }
            table.class_intro tbody tr td.column-5 img {
              max-width: 100px; }
          table.class_intro tbody tr td.column-6 a {
            width: 100%;
            display: flex;
            justify-content: center; } }
.woocommerce form .woocommerce-billing-fields .jpschool_field {
  margin-top: 10px; }

.woocommerce-checkout .entry-header.ast-no-thumbnail.ast-no-meta {
  display: none; }

.aloha_radio {
  display: flex;
  align-items: center;
  flex-wrap: wrap; }
  .aloha_radio label {
    margin-right: 10px;
    font-weight: 500 !important;
    display: flex !important;
    align-items: center; }
    .aloha_radio label input {
      margin-right: 3px; }
    .aloha_radio label .small_width {
      padding: 5px 10px;
      width: 60px !important;
      margin-left: 10px !important;
      margin-right: 10px !important; }

body.woocommerce-account.logged-in .ast-container {
  max-width: 100%;
  padding: 0; }
body.woocommerce-account.logged-in .woocommerce #my_member_header {
  top: 0;
  left: 0;
  width: 100%;
  margin-top: 50px;
  margin-bottom: 20px;
  display: flex;
  align-items: center; }
  body.woocommerce-account.logged-in .woocommerce #my_member_header .inner {
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
    box-sizing: border-box;
    margin: auto;
    color: #fff;
    padding: 0 15px; }
    body.woocommerce-account.logged-in .woocommerce #my_member_header .inner h3 {
      text-align: center;
      width: 100%;
      font-size: 36px;
      margin-bottom: 20px; }
body.woocommerce-account.logged-in .woocommerce #jp_my_account {
  padding: 0px 15px 50px;
  max-width: 1200px;
  margin: auto; }
  body.woocommerce-account.logged-in .woocommerce #jp_my_account .woocommerce-MyAccount-navigation {
    width: 100%;
    float: none; }
  body.woocommerce-account.logged-in .woocommerce #jp_my_account #my_account_inner {
    width: 100%;
    min-height: 300px;
    max-width: 800px;
    margin: auto auto 30px;
    float: none; }
body.woocommerce-account.logged-in .woocommerce .woocommerce-MyAccount-navigation {
  margin-bottom: 30px; }
  body.woocommerce-account.logged-in .woocommerce .woocommerce-MyAccount-navigation ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; }
    body.woocommerce-account.logged-in .woocommerce .woocommerce-MyAccount-navigation ul li {
      border: 0px;
      position: relative;
      display: flex;
      height: 30px; }
      body.woocommerce-account.logged-in .woocommerce .woocommerce-MyAccount-navigation ul li:after {
        right: 0;
        content: '';
        position: absolute;
        width: 1px;
        height: 12px;
        background: #3A3A3A;
        top: 9px; }
      body.woocommerce-account.logged-in .woocommerce .woocommerce-MyAccount-navigation ul li:last-child:after {
        display: none; }
      body.woocommerce-account.logged-in .woocommerce .woocommerce-MyAccount-navigation ul li.is-active a {
        color: #27AC39;
        background: none; }
      body.woocommerce-account.logged-in .woocommerce .woocommerce-MyAccount-navigation ul li a {
        color: #3a3a3a;
        padding: 0px 30px;
        font-size: 16px; }
        body.woocommerce-account.logged-in .woocommerce .woocommerce-MyAccount-navigation ul li a:hover {
          color: #27AC39; }

.archive.tax-product_cat .ast-container {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: none !important; }
  .archive.tax-product_cat .ast-container #primary {
    margin: 0; }
  .archive.tax-product_cat .ast-container #main {
    padding: 0 px;
    max-width: 1200px;
    margin: auto;
    color: #fff; }
    .archive.tax-product_cat .ast-container #main .woocommerce-breadcrumb {
      color: #fff; }
      .archive.tax-product_cat .ast-container #main .woocommerce-breadcrumb a {
        color: #fff; }

.aloha_header_product_bk {
  height: 145px;
  width: 100%;
  margin-bottom: 50px;
  background-image: url(./img/header.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  position: relative; }
  .aloha_header_product_bk:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #27AC39;
    opacity: 0.75;
    z-index: 0; }
  .aloha_header_product_bk .inner_box {
    position: relative;
    max-width: 1200px;
    margin: auto;
    padding: 0 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    height: 100%; }
    .aloha_header_product_bk .inner_box h1 {
      z-index: 3;
      font-size: 28px;
      line-height: 40px;
      color: #fff;
      position: relative;
      margin-bottom: 15px;
      font-weight: bold; }
    .aloha_header_product_bk .inner_box #primary {
      font-size: 14px;
      z-index: 3;
      color: #fff;
      position: relative; }

.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
  display: none;
  margin: 0; }

.quantity input.qty {
  appearance: textfield;
  -webkit-appearance: none;
  -moz-appearance: textfield; }

#single_shop_pos {
  display: flex; }
  #single_shop_pos #main_poss_body {
    display: flex;
    justify-content: space-between;
    margin: auto auto 100px;
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    /*  main product */ }
    #single_shop_pos #main_poss_body .left_menu {
      width: 300px; }
      #single_shop_pos #main_poss_body .left_menu ul {
        background: #F8F8F8;
        padding: 0;
        margin: 0;
        color: #3A3A3A; }
        #single_shop_pos #main_poss_body .left_menu ul > li {
          position: relative;
          list-style-type: none;
          position: relative;
          list-style-type: none; }
          #single_shop_pos #main_poss_body .left_menu ul > li.menu-item-has-children > a {
            position: relative; }
          #single_shop_pos #main_poss_body .left_menu ul > li.current-menu-item.menu-item-has-children > a:after {
            display: none; }
          #single_shop_pos #main_poss_body .left_menu ul > li.menu-item-has-children > a:after {
            right: 15px;
            top: 50%;
            margin-top: -2px;
            content: '';
            position: absolute;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #3A3A3A; }
          #single_shop_pos #main_poss_body .left_menu ul > li.current-menu-parent > a {
            position: relative;
            color: #27AC39;
            font-weight: bold; }
            #single_shop_pos #main_poss_body .left_menu ul > li.current-menu-parent > a:after {
              transform: rotate(-180deg);
              right: 15px;
              top: 50%;
              margin-top: -2px;
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #27AC39; }
          #single_shop_pos #main_poss_body .left_menu ul > li ul.sub-menu {
            display: none; }
            #single_shop_pos #main_poss_body .left_menu ul > li ul.sub-menu li {
              border-bottom: 0px; }
              #single_shop_pos #main_poss_body .left_menu ul > li ul.sub-menu li:after {
                display: none; }
              #single_shop_pos #main_poss_body .left_menu ul > li ul.sub-menu li a {
                color: #7A7A7A;
                padding-left: 40px; }
          #single_shop_pos #main_poss_body .left_menu ul > li.current-menu-parent ul.sub-menu, #single_shop_pos #main_poss_body .left_menu ul > li.current-menu-item ul.sub-menu {
            display: block; }
          #single_shop_pos #main_poss_body .left_menu ul > li:last-child:after {
            display: none; }
          #single_shop_pos #main_poss_body .left_menu ul > li:after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 1px;
            background: #EAEAEA; }
          #single_shop_pos #main_poss_body .left_menu ul > li.current-menu-item > a {
            color: #fff !important;
            background: #27AC39; }
          #single_shop_pos #main_poss_body .left_menu ul > li a {
            height: 53px;
            display: block;
            width: 100%;
            box-sizing: border-box;
            padding: 15px 20px;
            color: #3A3A3A; }
    #single_shop_pos #main_poss_body #main_product {
      width: calc(100% - 345px); }
      #single_shop_pos #main_poss_body #main_product ul.products {
        display: flex;
        flex-wrap: wrap; }
        #single_shop_pos #main_poss_body #main_product ul.products:before, #single_shop_pos #main_poss_body #main_product ul.products:after {
          display: none; }
        #single_shop_pos #main_poss_body #main_product ul.products li {
          padding: 0 15px;
          display: block;
          margin: 0 0 30px;
          width: 33.333%; }
          #single_shop_pos #main_poss_body #main_product ul.products li .inner {
            width: 248px;
            border: 1px solid #EEE; }
          #single_shop_pos #main_poss_body #main_product ul.products li .astra-shop-summary-wrap {
            padding: 20px; }
            #single_shop_pos #main_poss_body #main_product ul.products li .astra-shop-summary-wrap .ast-loop-product__link .woocommerce-loop-product__title {
              color: #3a3a3a;
              font-size: 18px;
              line-height: 26px; }

/*  search field */
#product_search_form {
  margin-bottom: 30px;
  height: 40px;
  position: relative; }
  #product_search_form button[type="submit"] {
    position: absolute;
    right: 0;
    background-image: url(./img/Vector.svg);
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    text-indent: -99999px;
    width: 30px !important;
    height: 30px;
    padding: 0;
    top: 50%;
    margin-top: -15px;
    right: 5px;
    z-index: 5; }

#single_shop_pos #main_poss_body #main_product ul.products li del .woocommerce-Price-amount {
  font-size: 20px;
  font-weight: normal;
  color: #666; }
#single_shop_pos #main_poss_body #main_product ul.products li .woocommerce-Price-amount {
  font-style: normal;
  color: #27AC39;
  font-size: 24px; }
#single_shop_pos #main_poss_body #main_product ul.products li a.add_to_cart_button {
  width: 100%;
  text-align: center; }
#single_shop_pos #main_poss_body #main_product ul.products li a.product_type_simple {
  width: 100%;
  margin: 20px 0 0;
  text-align: center; }

/*  ==================   prodcut_header    ==================  */
#prodcut_header {
  border-bottom: 1px solid #27AC39;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  margin: 0 15px 30px; }
  #prodcut_header h1 {
    margin: 0;
    padding: 0px 0 0px;
    font-size: 28px; }
  #prodcut_header .controller {
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1em; }
    #prodcut_header .controller .cbtn {
      outline: none;
      background: #EEEEEE;
      border-radius: 3px;
      display: flex;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 15px;
      transform: scale(1);
      border: 1px solid transparent; }
      #prodcut_header .controller .cbtn:hover {
        border: 1px solid #27AC39; }
      #prodcut_header .controller .cbtn svg path {
        fill: #7A7A7A; }
      #prodcut_header .controller .cbtn:active {
        transform: scale(0.91); }
    #prodcut_header .controller .cbtn.active {
      background: #27AC39; }
      #prodcut_header .controller .cbtn.active svg path {
        fill: #FFF; }
    #prodcut_header .controller p {
      margin: 0; }

.quantity {
  width: 100%;
  display: flex;
  border: 1px solid #EEE; }
  .quantity .qty_button {
    height: 35px;
    font-size: 20px;
    border: 0px;
    padding: 0 15px;
    background: #EEE;
    color: #7A7A7A;
    border-radius: 0px; }
    .quantity .qty_button:hover {
      background: #EEE;
      color: #27AC39; }
  .quantity input.qty {
    border: 0px;
    width: 100% !important;
    color: #7A7A7A;
    border: 0px; }

.add_to_cart_button {
  text-align: center;
  width: 100%; }

.start_table {
  padding: 0 15px; }
  .start_table table {
    border: 1px solid #27AC39; }
    .start_table table thead {
      color: #fff;
      background: #27AC39; }
      .start_table table thead th {
        border: 0px; }
        .start_table table thead th.product-button {
          display: flex;
          justify-content: space-between; }
          .start_table table thead th.product-button .quantity {
            width: 45%;
            border: 0px;
            text-align: center;
            justify-content: center; }
          .start_table table thead th.product-button .add_to_cart_button {
            width: 45%; }
    .start_table table td, .start_table table th {
      border-top: 1px solid #F5F5F5;
      border-bottom: 1px solid #F5F5F5;
      border-left: 0px;
      border-right: 0px; }
    .start_table table tr:nth-child(even) {
      background: #F5F5F5; }
    .start_table table tbody tr th {
      width: 30%; }
      .start_table table tbody tr th a {
        color: #3a3a3a;
        font-weight: normal; }
        .start_table table tbody tr th a:hover {
          color: #27AC39; }
    .start_table table tbody tr td.action {
      width: 35%; }
    .start_table table tbody tr td .product-button {
      display: flex;
      justify-content: space-between; }
      .start_table table tbody tr td .product-button .quantity {
        width: 55%; }
        .start_table table tbody tr td .product-button .quantity .qty_button {
          height: 30px;
          font-size: 20px;
          border: 0px;
          width: 30px;
          justify-content: center;
          display: flex; }
        .start_table table tbody tr td .product-button .quantity input.qty {
          min-height: auto;
          height: 100%;
          padding: 0; }
      .start_table table tbody tr td .product-button .add_to_cart_button {
        width: 35%;
        padding: 0;
        text-indent: -9999px;
        background-image: url(./img/buy.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-color: transparent;
        background-size: 25px; }
      .start_table table tbody tr td .product-button a.wc-forward {
        display: none; }

#content .ast-container {
  max-width: 100%;
  padding: 0; }

.woocommerce header .woocommerce-breadcrumb {
  color: #fff !important; }
  .woocommerce header .woocommerce-breadcrumb a {
    color: #fff; }

.single-product .ast-container #primary {
  border-right: 0px;
  width: 100%;
  padding-right: 0; }
  .single-product .ast-container #primary #woo_single_product {
    display: flex; }
    .single-product .ast-container #primary #woo_single_product > #single_product_menu {
      width: 30%; }
      .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu {
        width: 300px; }
        .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul {
          background: #F8F8F8;
          padding: 0;
          margin: 0;
          color: #3A3A3A; }
          .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li {
            position: relative;
            list-style-type: none;
            position: relative;
            list-style-type: none; }
            .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li.menu-item-has-children > a {
              position: relative; }
            .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li.current-menu-item.menu-item-has-children > a:after {
              display: none; }
            .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li.menu-item-has-children > a:after {
              right: 15px;
              top: 50%;
              margin-top: -2px;
              content: '';
              position: absolute;
              width: 0;
              height: 0;
              border-left: 5px solid transparent;
              border-right: 5px solid transparent;
              border-top: 5px solid #3A3A3A; }
            .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li.current-menu-parent > a {
              position: relative;
              color: #27AC39;
              font-weight: bold; }
              .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li.current-menu-parent > a:after {
                transform: rotate(-180deg);
                right: 15px;
                top: 50%;
                margin-top: -2px;
                content: '';
                position: absolute;
                width: 0;
                height: 0;
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid #27AC39; }
            .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li ul.sub-menu {
              display: none; }
              .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li ul.sub-menu li {
                border-bottom: 0px; }
                .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li ul.sub-menu li:after {
                  display: none; }
                .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li ul.sub-menu li a {
                  color: #7A7A7A;
                  padding-left: 40px; }
            .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li.current-menu-parent ul.sub-menu, .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li.current-menu-item ul.sub-menu {
              display: block; }
            .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li:last-child:after {
              display: none; }
            .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              width: 100%;
              height: 1px;
              background: #EAEAEA; }
            .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li.current-menu-item > a {
              color: #fff !important;
              background: #27AC39; }
            .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu ul > li a {
              height: 53px;
              display: block;
              width: 100%;
              box-sizing: border-box;
              padding: 15px 20px;
              color: #3A3A3A; }
    .single-product .ast-container #primary #woo_single_product > .ast-article-single {
      width: 70%; }
      .single-product .ast-container #primary #woo_single_product > .ast-article-single .cart {
        max-width: 210px; }
        .single-product .ast-container #primary #woo_single_product > .ast-article-single .cart button {
          margin-top: 30px;
          width: 100%;
          display: flex;
          padding: 8px 5px;
          justify-content: center;
          align-items: center; }
          .single-product .ast-container #primary #woo_single_product > .ast-article-single .cart button:before {
            background: url(./img/buy_w.svg);
            content: '';
            width: 22px;
            height: 22px;
            margin-right: 10px; }
.single-product .ast-container #secondary {
  display: none; }

.woocommerce-cart-form__contents .quantity {
  max-width: 150px; }

.woocommerce-cart .entry-header.ast-no-thumbnail.ast-no-meta {
  display: none; }

#main_poss_cart {
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  margin: auto auto 50px; }

.site-below-footer-wrap[data-section="section-below-footer-builder"] {
  display: none !important; }

.footer_wrap {
  background: #212121;
  color: #fff; }
  .footer_wrap .inner {
    padding: 50px 15px 10px;
    color: #fff;
    max-width: 1400px;
    margin: auto; }
    .footer_wrap .inner .top {
      margin-bottom: 20px; }
      .footer_wrap .inner .top .xinner {
        display: flex;
        justify-content: space-between; }
        .footer_wrap .inner .top .xinner .box1.logo {
          width: 30%; }
        .footer_wrap .inner .top .xinner .box1 {
          width: 15%; }
          .footer_wrap .inner .top .xinner .box1 h3 {
            color: #fff;
            margin-bottom: 13px;
            line-height: 1em;
            font-size: 18px; }
          .footer_wrap .inner .top .xinner .box1 .textwidget {
            margin-bottom: 10px; }
          .footer_wrap .inner .top .xinner .box1 a {
            color: #d4d4d4;
            font-size: 15px;
            line-height: 2em;
            display: block; }
    .footer_wrap .inner .bottom {
      padding: 15px 0;
      border-top: 1px solid #505050;
      display: flex;
      justify-content: space-between;
      font-size: 14px;
      letter-spacing: 1px; }
      .footer_wrap .inner .bottom p {
        margin-bottom: 0; }

@media only screen and (max-width: 768px) {
  .footer_wrap .inner .top .xinner {
    flex-wrap: wrap; }
    .footer_wrap .inner .top .xinner .box1,
    .footer_wrap .inner .top .xinner .box1.logo {
      width: 50%;
      padding: 0 15px;
      box-sizing: border-box;
      margin-bottom: 30px; }

  .footer_wrap .inner .bottom {
    display: flex;
    flex-wrap: wrap; }
    .footer_wrap .inner .bottom .copy {
      width: 100%; }
    .footer_wrap .inner .bottom .sns {
      width: 100%; } }
@media only screen and (max-width: 450px) {
  .footer_wrap .inner .top .xinner {
    flex-wrap: wrap; }
    .footer_wrap .inner .top .xinner .box1.logo {
      width: 100%;
      margin-bottom: 30px;
      text-align: center; }
    .footer_wrap .inner .top .xinner .box1 {
      width: 100%;
      margin-bottom: 30px;
      text-align: center; } }
#primary {
  margin: 0;
  padding-top: 0px; }

.ast-woo-shop-archive .site-content > .ast-container {
  padding: 0px; }

#main_poss_body2 {
  display: flex;
  justify-content: space-between;
  margin: auto auto 100px;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  flex-wrap: wrap; }

.woocommerce-result-count {
  display: none; }

.woocommerce-ordering {
  display: none; }

.ast-woocommerce-container > .woocommerce-breadcrumb {
  display: none; }

a, .page-title {
  color: #1AAE76; }

.woocommerce-message, .woocommerce-info {
  border-top-color: #FFA000 !important; }

.woocommerce-message::before, .woocommerce-info::before {
  color: #FFA000 !important; }

[data-section="section-header-mobile-trigger"] .ast-button-wrap .mobile-menu-toggle-icon .ast-mobile-svg {
  fill: #27AC39; }

.woocommerce .start_table a.button.product_type_simple {
  background-color: transparent !important;
  transform: scale(1); }
  .woocommerce .start_table a.button.product_type_simple:hover {
    background-color: transparent !important;
    color: #FFA000 !important;
    transform: scale(1); }
  .woocommerce .start_table a.button.product_type_simple:active {
    transform: scale(1);
    background-color: transparent !important; }

.woocommerce a.button {
  background-color: #27AC39 !important;
  transform: scale(0.99);
  transition: 0.3s; }
  .woocommerce a.button:hover {
    background-color: #FFA000 !important;
    color: #fff; }
  .woocommerce a.button:active {
    background-color: #FFA000 !important;
    transform: scale(0.96); }

.single-product .ast-container #primary #woo_single_product > .ast-article-single .cart button {
  background: #27AC39 !important;
  transform: scale(0.99);
  transition: 0.3s; }
  .single-product .ast-container #primary #woo_single_product > .ast-article-single .cart button:hover {
    background: #FFA000 !important;
    color: #fff; }
  .single-product .ast-container #primary #woo_single_product > .ast-article-single .cart button:active {
    background: #FFA000 !important;
    transform: scale(0.96); }

.woocommerce-checkout button[type="submit"] {
  background: #27AC39 !important;
  transform: scale(0.99);
  transition: 0.3s; }
  .woocommerce-checkout button[type="submit"]:hover {
    background: #FFA000 !important;
    color: #fff; }
  .woocommerce-checkout button[type="submit"]:active {
    background: #FFA000 !important;
    transform: scale(0.96); }

.woocommerce-page table.cart td.actions .button {
  background: #27AC39 !important;
  transform: scale(0.99);
  transition: 0.3s;
  color: #fff; }
  .woocommerce-page table.cart td.actions .button:hover {
    background: #FFA000 !important;
    color: #fff; }
  .woocommerce-page table.cart td.actions .button:active {
    background: #FFA000 !important;
    transform: scale(0.96); }

@media only screen and (max-width: 1130px) {
  #single_shop_pos #main_poss_body .left_menu {
    max-width: 300px;
    width: 100%; }

  #single_shop_pos #main_poss_body #main_product ul.products li .inner {
    width: 100%; }

  #single_shop_pos #main_poss_body #main_product ul.products li {
    padding: 0 8px; } }
@media only screen and (max-width: 1024px) {
  #single_shop_pos #main_poss_body .left_menu {
    max-width: 250px;
    width: 100% !important; }

  #single_shop_pos #main_poss_body #main_product {
    width: calc(100% - 270px); } }
@media only screen and (max-width: 875px) {
  #single_shop_pos #main_poss_body #main_product ul.products li {
    width: 50%; } }
/*  Single Product */
@media only screen and (max-width: 768px) {
  #woo_single_product {
    flex-wrap: wrap; }

  .single-product .ast-container #primary #woo_single_product > #single_product_menu .left_menu {
    width: 100% !important; }

  .single-product .ast-container #primary #woo_single_product > #single_product_menu {
    width: 100%; }

  .single-product .ast-container #primary #woo_single_product > .ast-article-single {
    width: 100%; } }
@media only screen and (max-width: 768px) {
  .start_table {
    padding: 0; }

  #prodcut_header {
    margin: 0 0px 30px; }

  #single_shop_pos #main_poss_body {
    flex-wrap: wrap; }

  #single_shop_pos #main_poss_body .left_menu {
    width: 100%;
    max-width: none;
    margin-bottom: 40px; }

  #single_shop_pos #main_poss_body #main_product {
    width: 100%; }

  #single_shop_pos #main_poss_body #main_product ul.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    #single_shop_pos #main_poss_body #main_product ul.products li {
      padding: 0;
      width: 49%; }

  #single_shop_pos #main_poss_body #main_product ul.products li .astra-shop-summary-wrap {
    padding: 10px 13px; }

  #single_shop_pos #main_poss_body #main_product ul.products li .astra-shop-summary-wrap .ast-loop-product__link .woocommerce-loop-product__title {
    font-size: 16px;
    line-height: 24px; } }
@media (min-width: 922px) {
  .woocommerce-account header .ast-container,
  .archive.tax-product_cat header .ast-container {
    max-width: 1240px !important;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px; }

  header .ast-container {
    max-width: 1240px; } }

/*# sourceMappingURL=main.css.map */
