.woocommerce-cart-form__contents{
    .quantity{
        max-width: 150px;
    }
}



.woocommerce-cart .entry-header.ast-no-thumbnail.ast-no-meta{
    display:none;
}


#main_poss_cart{
    max-width: 1200px;
    padding: 0 15px;
    width: 100%;
    margin:auto auto 50px;;
}