.woocommerce form .woocommerce-billing-fields .jpschool_field{
    margin-top:10px;
}


.woocommerce-checkout .entry-header.ast-no-thumbnail.ast-no-meta{
    display: none;;
}


.aloha_radio{
    display:flex;   
    align-items: center;
    flex-wrap: wrap;
    label{
        margin-right: 10px;
        font-weight: 500 ! important;
        display: flex ! important;
        align-items: center;
        input{
            margin-right: 3px;
        }
        .small_width{
            padding:5px 10px;
            width:60px ! important;
            margin-left:10px ! important;
            margin-right:10px ! important;
        }
    }
}



/*   伯思美 Checkout    */

.woocommerce-billing-fields,
.woocommerce-shipping-fields{
    display: none;;
}


.pdname{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 5px;
    .remove{
        margin-right:10px;;
    }
}

img.trade_mark{
    display: block;
   margin:auto;
    height:300px ! important;
    width:auto ! important;
}

.input_field{
    width:100%;
    margin-bottom: 15px;;
}

#customer_info{
    margin-bottom: 20px;;
    font-size: 16px;
    .c1{
        display: flex;
        justify-content: space-between;;
        .item{
            display: flex;
            width:calc(100%);
            margin-bottom: 10px;
            label{
                font-weight: bold;
                display: block;
                margin-right: 10px;
                width: 100px;
            }
            .cname{
                width:100%;
                border-bottom: 1px dashed #e6e4e4;
            }
        }
    }
}

#cart_product_list{
    th{
        text-align: center;
    }
    td{
        text-align: center;
    }
}