.archive.tax-product_cat .ast-container{
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: none ! important;
    #primary{
        margin:0;
    }
    .woocommerce-breadcrumb{
      //  display:none;
    }
 
    #main{
        padding:0 px;
        max-width: 1200px;;
        margin:auto;
        color:#fff;
        .woocommerce-breadcrumb{
            color:#fff;
            a{
                color:#fff;
            }
        }
    }
}
#single_shop_pos #main_poss_body #main_product ul.products{
    margin:0;
    padding:0;
}

#single_shop_pos #main_poss_body .left_menu  ul#menu-product_1 > li ul.sub-menu > li > ul.sub-menu > li a {
    padding-left: 50px;
}
#single_shop_pos #main_poss_body .left_menu  ul#menu-product_1 > li ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu > li a {
    padding-left: 60px;
}

#single_shop_pos #main_poss_body .left_menu ul > li ul.sub-menu     li a{
    height:40px;
}
#single_shop_pos #main_poss_body .left_menu  ul#menu-product_1 > li.menu-item-has-children:before{
    top:25px;
    cursor: pointer;
}

.aloha_header_product_bk{
    height:145px;
    width: 100%;;
    margin-bottom: 50px;;
   // background-image:url(./img/header.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    /*
    &:before{
        content:'';
        position: absolute;
        width:100%;
        height:100%;
        top:0;
        left:0;
        background: #27AC39;
        opacity: 0.75;
        z-index: 0;
    }
    */

    .inner_box{
        position: relative; 
        max-width: 1200px;;
        margin:auto;
        padding:0 15px;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        align-content: center;
        height: 100%;
        h1{
            z-index: 3;;
            font-size: 28px;
            line-height: 40px;;
            color:#fff;
            position: relative;  
            margin-bottom: 15px;; 
            font-weight: bold;
        }
        #primary{
            font-size: 14px;;
            z-index: 3;;
            color:#fff;
            position: relative;   
        }   
    }
}



.quantity input::-webkit-outer-spin-button,
.quantity input::-webkit-inner-spin-button {
    display: none;
    margin: 0;
}
.quantity input.qty {
    appearance: textfield;
    -webkit-appearance: none;
    -moz-appearance: textfield;
}



#single_shop_pos{
    display: flex;
   
    
    #main_poss_body{
        display: flex;
        justify-content: space-between;
        margin:auto auto 100px;;
        max-width: 1400px;;
        padding:0 15px;
        width: 100%;
        .left_menu{
            width:240px;                      
                
                
                ul li.open > ul.sub-menu{
                    // display: block;
                   
                    box-sizing: border-box;
                    max-height: 2300px;
                    transition: 0.4s;

                }


                ul{
                    background:#F8F8F8;
                    padding:0;
                    margin:0;
                    color:#3A3A3A;
                   > li{
                        position: relative;
                        list-style-type: none;
                        background: #efefef;
                        a{
                            background:#F8F8F8;
                            &:hover{
                                color:#27AC39;
                            }
                        }
                       
                        &.menu-item-has-children > a{
                          //  position: relative;
                        }
                        &.current-menu-item.menu-item-has-children > a:after{
                            display: none;
                        }
                        &.menu-item-has-children:before{
                            right:15px;
                            top:18px;
                            margin-top:-2px;
                            content:'';
                            position: absolute;;
                            width: 0; 
                            height: 0; 
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;                                
                            border-top: 5px solid #3A3A3A;
                        }
                        &.menu-item-has-children.open:before,
                        &.menu-item-has-children.current-menu-item:before,
                        &.menu-item-has-children.current-menu-ancestor:before{
                            right:15px;
                            
                            margin-top:-2px;
                            content:'';
                            position: absolute;;
                            transform: rotate(-180deg);
                            width: 0; 
                            height: 0; 
                            border-left: 5px solid transparent;
                            border-right: 5px solid transparent;                                
                            border-top: 5px solid #27AC39;
                        }

                        


                        &.current-menu-parent  {
                            position: relative;
                            color:#27AC39;
                         //   font-weight: bold;
                            &:before{
                                transform: rotate(-180deg);
                                right:15px;
                                top:25px;
                                margin-top:-2px;
                              //  content:'';
                                position: absolute;;
                                width: 0; 
                                height: 0; 
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;                                
                                border-top: 5px solid #27AC39;
                            }
                        }

                        ul.sub-menu{ 
                         
                            overflow: hidden;
                            box-sizing: border-box;
                            max-height: 0px;
                            transition: 0.4s;

                            li{
                                &:after{
                                    display:none;
                                }
                                a{
                                    color:#7A7A7A;
                                    padding-left: 30px;
                                    display: flex;                                 
                                    align-items: center;
                                    border-left: 1px solid #3f7b51;
                                                                
                                    &:hover{
                                        color:#27AC39;
                                    }
                                }
                                
                                border-bottom: 0px;;
                            }
                        }
                        &.current-menu-ancestor > ul.sub-menu,
                        &.current-menu-parent > ul.sub-menu,
                        &.current-menu-item > ul.sub-menu{ 
                            // display:block;
                            max-height: 1200px;
                        }



                        &:last-child:after{
                            display:none;
                        }
                        &:after{
                            content:'';
                            position: absolute;
                            bottom:0;
                            left:0;
                            width:100%;
                            height:1px;
                            background: #EAEAEA;
                        }
                        position: relative;
                        list-style-type: none;;
                        &.current-menu-item{
                            > a{
                                color:#27AC39 ! important;
                                font-weight: bold;
                                // background:#27AC39;
                            }
                        }
                        a{
                            border-left: 3px solid #3f7b51;
                            height:53px;
                            display: flex;
                            align-items: center;
                            width: calc(100% - 40px);
                            box-sizing: border-box;
                            padding:0px 20px;
                            color:#3A3A3A;
                        }
                    }
                }                
            
        }




        
        /*  main product */
        #main_product{
            width: calc(100% - 280px);

            ul.products{
                display: flex;
                flex-wrap: wrap;
                position: relative;
                min-height: 500px;
                //  justify-content: space-between;
                // &:before,
                &:after{
                    display:none;
                }

                &.loading{
                    opacity: 0.5;     
                    filter: blur(4px);           
                }
                
                &.loading:before{
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    z-index: 9;                    
                    content: '';
                     background:rgba(0,0,0,0);
                   // filter: none;
                  // filter: blur(4px);     
                    color: #777;
                    font-size: 30px;
                    display: flex;
                    justify-content: center;
                }
            

                > li{              
                    padding: 0 5px;
                    display: block;                                       
                    margin: 0 0 15px;;
                    width:20%;
                        
                    .inner{
                       .astra-shop-thumbnail-wrap{
                        height: 200px;
                        display: flex;
                        img{
                            height: auto;
                            max-width: 200px;
                            max-height: 200px;
                            width:100%;
                            margin: auto;
                            display: block;
                        }
                       }


                        border:1px solid #EEE;
                        a{
                            display: block;
                            padding:5px 0;
                            line-height: 1em;
                            &.add_to_cart_button.ajax_add_to_cart{
                                padding:10px;
                            }
                        }
                    }

               

  
                    .astra-shop-summary-wrap{
                        padding:13px;
                        .ast-loop-product__link{
                            .woocommerce-loop-product__title{
                                color: #3a3a3a;
                                font-size:16px;
                                line-height: 26px;;
                                height:52px;
                                overflow:hidden;
                                margin-bottom: 0px;;
                            }
                        }
                    }
                }
            }
        }


    }
}


ol.spec{
    color: #777;
    font-size: 12px;
    line-height: 1.5em;
    margin:0 0 0px 0;
    padding:0;
    list-style-type: none;
   >li{
        margin-right:5px;
    }
}
.start_table ol.spec{
   // display: flex;
    > li:last-child{
        display:none;
    }
}
@media only screen and (max-width: 1200px) {
    #single_shop_pos #main_poss_body #main_product ul.products > li{
        width:25%;
    }
}


@media only screen and (max-width: 1024px) {
    .woocommerce div.product .related.products ul.products{
        li{
            width: calc(50% - 10px);
            margin-right:20px;
            margin-bottom: 20px;;
            &:nth-child(2n){
                margin-right: 0;;
            }
        }
    }
}